@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

body {
    background-color: #c0a069;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3{
    font-family: 'Press Start 2P', cursive;
    color: #EAC100;
    text-shadow: 3px 3px 5px gray;
}

hr{
    margin: 20px;
    color: #ffff00;
}

.container h2{
    display: flex;
    justify-content: center;
}

header{
    background-color:#224255;
}

.logo{
    max-height: 50px;
    width: auto;
}


.header-inner, .footer-inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
    box-sizing: border-box;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#top-photo{
    background-image: url('images/Zelda.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

a{
    color: white;
    text-decoration: none;
}

.navbar li{
    list-style: none;
}

.sections{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section{
    background-color: #FFFDE7;
    border-radius: 15px;
    padding: 60px;
    margin: 0 auto;
    width: calc(100% - 270px);
    box-sizing: border-box;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}

.photo{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

button{
    height: auto;
    width: 130px;
    padding: 10px 5px;
    border-radius: 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    transition: .3s;
}

button:hover{
    background-color: #388E3C;
}

.update-discription{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discription{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid gray;
}

#related-content .cards{
    justify-content: flex-start;
}

footer{
    background-color: #224255;
    color: white;
    display: flex;
    padding: 20px 0;
}

@media (max-width: 768px){
    .header-inner, .footer-inner{
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .navbar ul{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    section{
        padding: 40px 20px;
        min-width: 290px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .card{
        width: inherit;
    }
}

@media (min-width: 1000px) {
    section{
        max-width: 1130px;
    }
}